@model MyTeamTracker.Models.LoginModel
@{
    ViewBag.Title = "My Team Tracker";
}


<header>
    <h1>@ViewBag.Title</h1>
          <script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" data-main="/app/js/main" src="/Scripts/require.js"></script>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
</header>

<div id="main-content">
    <p class="error" data-bind="text: error"></p>
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

    <div ng-include="'/app/html/partials/admin.html'">
    </div>
</div>
